body {
    background: rgb(137, 207,240);
}

div.container {
    background-color: darkgray;
    border: 7px solid #f0f8ff;
    border-radius: 10px;
    width: 60%;
    margin-top: 20px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
}

div.card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    width: 20%;
}

textarea {
    margin-top: 10px;
    height: 50%;
}